:root {
    font-size: 62.5%;

    /* Cores */
    --dark-gray: #1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --primary: #C92071;
    --secondary: #B5B6F2;
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;
    --white:  #FFFFFF;
    --tertiary: #991956;
    --primary-gradient: linear-gradient(to bottom, #C92071, #EDABCA);
    --secondary-gradient: linear-gradient(to bottom, #B5B6F2, #EFEFFF);
    /* Cores */
}
.fas {
    color: var(--warning);
   font-size: 20px;
    
}
.pontuacao {
    position: fixed;
    width: 63px;
    height: 23px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    margin-left: 135px;
    gap: 10px;
    border-radius: 4px;
    opacity: 1;
    background-color: var(--warning);
    color: var(--white);
    font-size: 14px;
  }

  .pontuacao .fa-star {
    color: var(--white);
  }

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--light-gray-3);
    margin: 0;
    padding: 0;
}

.buybox {
    width: 700px;
    margin: 50px auto;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.descricao-titulo {
    font-size: 32px;
    color: var(--dark-gray);
    margin-bottom: 10px;
}

.descricao-referencia {
    font-size: 15px;
    color: var(--dark-gray-3);
    margin-bottom: 20px;
}

.avaliacao-main {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avaliacao-rating {
    font-size: 14px;
    color: var(--light-gray);
    margin-left: 80px;
}

.price-container {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
}

.price-cifrao {
    color: var(--dark-gray-2);
    font-weight: bold;
}

.produto-container {
    margin-bottom: 20px;
}

.descricao-sub {
    font-size: 14px;
    color: var(--dark-gray-2);
    margin-bottom: 10px;
}

.texto-descricao {
    font-size: 14px;
    color: var(--dark-gray-2);
    margin-bottom: 20px;
}

.tamanho-opcoes label {
    margin-right: 10px;
}

.cores-opcoes .cor-opcao {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin-right: 10px;

}

.cores-opcoes .cor-opcao.active {
    border: 2px solid var(--tertiary) 2px; /* Cor da borda roxa */
}


.botao-comprar {
    background-color: var(--warning);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
.tamanho-container {
    margin-top: 20px;
}

.tamanho-container .btn-group-toggle .btn {
    margin-right: 10px; /* Espaçamento entre os botões */
    background-color: var(--white); /* Cor de fundo dos botões */
    color: var(--dark-gray-2); /* Cor do texto das numerações */
    border: solid var(--dark-gray-2) 1px;
    width: 40px; /* Largura dos botões */
    height: 40px; /* Altura dos botões */
    font-size: 16px; 
    text-align: center; /* Centraliza o texto horizontalmente */
    display: flex;
    align-items: center; /* Centraliza o texto verticalmente */
    justify-content: center;
}

.tamanho-container .btn-group-toggle .btn.active {
    background-color: var(--primary); /* Cor de fundo quando selecionado */
    color: var(--white); /* Cor do texto quando selecionado */
    border: solid var(--primary) 1px;
}